<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <title>Document</title>
</head>
<body>
<div class="container-fluid no-padding">
        <!--Menu Principal-->
        <header>
            <div class="row start-lg center-xs middle-lg">
                    <div class="col-xs-12 col-lg-4">
                        <img src="{% static 'img/logo.png' %}" alt="logo">
                    </div>
                    <div id="menu1" class="col-xs-12 col-lg-1">
                        <a class="design" href="index.html">inicio</a> 
                    </div>
                    <div id="menu2" class="col-xs-12 col-lg-2">
                        <a class="design" href="#">quienes somos</a>
                    </div>
                    <div id="menu3" class="col-xs-12 col-lg-1">
                        <a class="design" href="#">servicios</a>
                    </div>
                    <div id="menu4" class="col-xs-12 col-lg-1">
                        <a class="design" href="{% static 'blog/contactanos.html' %}">contactanos</a>
                    </div>
            </div>
        </header>
        <!--Imagenes Slider-->
        <div class="row">
            <div class="col-xs-12">
                <div class="slideshow">
            <ul class="slider">
                <li>
                <img src="{% static 'img/adoptados/Apolo.jpg' %}" alt="Apolo">
                    <section class="caption">
                        <p> </p>
                        
                        <p class="posicionT1">"No puedo creer que este perro le gustara tanto viajar en auto, todos estamos muy contentos con Apolo."</p>
                    </section>
                </li>
                <li>
                <img src="{% static 'img/adoptados/Duque.jpg' %}" alt="Duque">
                    <section class="caption">
                        <p> </p>
                        <p class="posicionT2">"El mejor compañero que un persona puede tener, Duque me acompaña en todos mis viajes es el mejor"</p>
                    </section>
                </li>
                <li>
                <img src="{% static 'img/adoptados/Tom.jpg' %}" alt="Tom">
                    <section class="caption">
                        <p> </p>
                        <p class="posicionT3">"Estamos felices de tener a Tom en casa. Es un super fiel compañero"</p>
                    </section>
                </li>
            </ul>
        
            <div class="left">
                <span class="fa fa-chevron-left"></span>
            </div>
    
            <div class="right">
                <span class="fa fa-chevron-right"></span>
            </div>
    
        </div>
            </div>
        </div>
        
        <div class="separacionslider"></div>
        <!--Redes Sociales-->
        <div id="redes">
            <div class="row center-xs">
            <div class="col-xs-2">
                <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="col-xs-2">
                <a href="https://www.googleplus.com/">
                <i class="fab fa-google-plus-g"></i></a>
            </div>
            <div class="col-xs-2">
                <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-xs-2">
                <a href="https://www.gmail.com/">
                <i class="fas fa-envelope"></i></a>
            </div>
            </div>
        </div>

        <!--Articulo-->
        <div class="row">
                <div id="separacion1" class="col-xs-12  col-lg-6 end-lg end-xs">
                        <a1><b>RESCATE</b></a1><br>
                        <a2>ETAPA UNO</a2>
                        <p><b>_______</b></p>
                        <br>
                        <a3>Rescatamos perros en situación de peligro y/o abandono.Los rehabilitamos y
                            los preparamos para buscarles un hogar.
                        </a3><br>
                        
                        <br>
                    <img src="{% static 'img/rescate.jpg' %}" alt="rescate">
                </div>
                
                <div id="separacion2" class="col-xs-12 col-lg-6 start-lg start-xs">
                <img src="{% static 'img/crowfunding.jpg' %}" alt="Crow">
                    <hr>
                    <a1><b>CROWDFUNDING</b></a1><br>
                    <a2>FINANCIAMIENTO</a2>
                    <p><b>_______</b></p>
                    <br>
                    <a3>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y
                        actividades que realizamos para obtener financiamiento para seguir ayudando.
                    </a3>
                    <br>
                    <a class="campaB" href="#"><b>CAMPAÑAS</b></a>
                </div>
                <div id="campaS" class="row">
                   <div class=""></div> 
                </div>
        </div>

        <!--Galeria-->
        <div class="collage">
            
            <ul class="galeria">
            <div class="row">
                <div id="division1" class="col-xs-4">
                    <li><a id="i1" href="#img5"><img src="{% static 'img/rescatados/Oso.jpg' %}"></a></li>
                    <li><a id="i2" href="#img4"><img src="{% static 'img/rescatados/Maya.jpg' %}"></a></li>
                    <li><a id="i3" href="#img7"><img src="{% static 'img/rescatados/Wifi.jpg' %}"></a></li>
                </div>
                <div id="division2" class="col-xs-4">
                    <li><a id="i4" href="#img2"><img src="{% static 'img/rescatados/Chocolate.jpg' %}"></a></li>
                    <li><a id="i5" href="#img6"><img src="{% static 'img/rescatados/Pexel.jpg' %}"></a></li>
                </div>
                <div id="division3" class="col-xs-4">
                    <li><a id="i6" href="#img1"><img src="{% static 'img/rescatados/Bigotes.jpg' %}"></a></li>
                    <li><a id="i7" href="#img3"><img src="{% static 'img/rescatados/Luna.jpg' %}"></a></li>
                </div>
            </ul>
                
        </div>
        <div class="modal" id="img1"> 
            <h3>Bigotes</h3>
            <div class="imagen">
                
                <a href=""><img src="img/rescatados/Bigotes.jpg" ></a></li>
                <h4>Perro jugueton con muchas ganas de conocerte, 6 Meses de edad</h4>
            </div>
            <a class="close" href="">X</a>
        </div>
    
        <div class="modal" id="img2"> 
                <h3>Chocolate</h3>
                <div class="imagen">
                    
                    <a href=""><img src="{% static 'img/rescatados/Chocolate.jpg' %}"></a></li>
                   <h4>Perro muy travieso, pero con un gran corazón. 1 año de edad</h4>
                </div>
                <a class="close" href="">X</a>
        </div>
    
        <div class="modal" id="img3"> 
                <h3>Luna</h3>
                <div class="imagen">
                    
                    <a href=""><img src="{% static 'img/rescatados/Luna.jpg' %}"></a></li>
                    <h4>Perrita muy tierna, busca familia que le de mucho amor. 1 mes y medio de edad </h4>
                </div>
                <a class="close" href="">X</a>
        </div>
    
        <div class="modal" id="img4"> 
                <h3>Maya</h3>
                <div class="imagen">
                    
                    <a href=""><img src="{% static 'img/rescatados/Maya.jpg' %}"></a></li>
                    <h4>Perrita muy timida, pero le das amor llega a ser un amor. 2 meses de edad</h4>
                </div>
                <a class="close" href="">X</a>
        </div>
    
        <div class="modal" id="img5"> 
                <h3>Oso</h3>
                <div class="imagen">
                    
                    <a href=""><img src="{% static 'img/rescatados/Oso.jpg' %}"></a></li>
                    <h4>Perrito muy cariñoso y tierno a la vez, 5 meses de edad</h4>
                </div>
                <a class="close" href="">X</a>
        </div>
    
        <div class="modal" id="img6"> 
                <h3>Pexel</h3>
                <div class="imagen">
                    
                    <a href=""><img src="{% static 'img/rescatados/Pexel.jpg' %}"></a></li>
                    <h4>perrito muy pequeño, pero muy inteligente sin duda un gran compañero. 8 meses de edad</h4>
                </div>
                <a class="close" href="">X</a>
        </div>
    
        <div class="modal" id="img7"> 
                <h3>Wifi</h3>
                <div class="imagen">
                    
                    <a href=""><img src="{% static 'img/rescatados/Wifi.jpg' %}"></a></li>
                    <h4>Perrito amoroso y cariñoso un exelente amigo. 5 meses de edad</h4>
                   
                </div>
                <a class="close" href="">X</a>
        </div>    
        <footer>
        <p>Desarollo Web y Mobile</p>
        </footer>
</div>
 </body>
</html>